* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: "Merriweather", serif;
}

main {
  padding-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

h1 {
  text-align: center;
}

h2 {
  font-family: Agrandir, Verdana, Geneva, sans-serif;
  font-size: 16px;
  padding-bottom: 5px;
  display: block;
  padding-left: 5px;
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.logo {
  height: 30px;
  width: initial;
  vertical-align: middle;
  display: inline-block;
  margin-top: 20px;
  margin-right: 20px;
}

.header-link {
  display: inline-block;
  list-style: none;
  text-decoration: none;
  font-family: "Source Sans Pro", "Trebuchet MS", Helvetica, sans-serif;
  vertical-align: middle;
  margin-top: 20px;
}

a {
  text-decoration: none;
  color: black;
  padding: 15px 15px 15px 15px;
}

a:hover {
  padding: 15px 15px 15px 15px;
  color: #067a46;
  background-color: #e4fabf;
  text-decoration: none;
}

.recipe-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 348px;
}

.recipe-card-image {
  width: 100%;
  height: 195.5px;
}

.recipe-description {
  font-family: Agrandir, Verdana, Geneva, sans-serif;
  font-size: 14px;
  padding-bottom: 5px;
  padding-left: 5px;
  display: block;
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  padding-bottom: 30px;
}

.prep-time {
  font-style: bold;
  font-family: "Source Sans Pro", "Trebuchet MS", Helvetica, sans-serif;
  font-size: 14px;
  padding-left: 5px;
  text-align: left;
}

.preference-label {
  font-family: "Source Sans Pro", "Trebuchet MS", Helvetica, sans-serif;
  font-size: 14px;
  color: #676767;
  padding-left: 5px;
}

.hall-of-fame {
  display: inline-block;
  position: relative;
  margin-left: 30px;
  margin-bottom: 50px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
}

.img-hall-of-fame {
  width: 728px;
  position: relative;
  display: inline-block;
  margin-bottom: 5px;
}

.best-recipe {
  font-family: Agrandir, Verdana, Geneva, sans-serif;
  font-size: 20px;
  position: absolute;
  top: 350px;
  left: 20px;
  color: white;
}

.reviewer-name {
  font-family: Agrandir, Verdana, Geneva, sans-serif;
  font-size: 16px;
  color: white;
  position: absolute;
  top: 430px;
  right: 40px;
}

.stars {
  position: absolute;
  top: 300px;
  left: 20px;
}

.yummy {
  position: absolute;
  top: 400px;
  left: 20px;
  color: white;
  font-family: Agrandir, Verdana, Geneva, sans-serif;
  font-size: 16px;
}

.hof-title {
  font-family: Agrandir, Verdana, Geneva, sans-serif;
  font-size: 24px;
  font-style: none;
}

.hof-label {
  color: white;
  background-color: #f0aa4a;
  font-family: "Source Sans Pro", "Trebuchet MS", Helvetica, sans-serif;
  border-radius: 5px;
  display: inline-block;
  padding-right: 4px;
  padding-left: 4px;
  margin-left: 5px;
  font-size: 20px;
  text-transform: uppercase;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 72px;
  width: 100%;
  background-color: white;
  text-align: center;
  border-top: 2px solid #e4e4e4;
  padding: 11px 11px 11px 11px;
}

.footer-button {
  font-family: Agrandir, Verdana, Geneva, sans-serif;
  background-color: #067a46;
  color: white;
  font-size: 16px;
  display: inline-block;
  border-radius: 5px;
  padding: 11px;
}

.footer-button:hover {
  background-color: #067a46;
  color: white;
  display: inline-block;
}
